﻿@using ReportViewerForMvc
@{
    ViewBag.Title = "Consultation quantite enregistre";
}
@using (Html.BeginForm("Index", "ConsultationQte", null, FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label>Date du : </label>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="date" name="date" value="@ViewBag.date">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">OK</button>
    </div>
}
<br/>
<div style="text-align: center">
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { style = "width: 100% !important;height: 100% !important;border:none !important; min-height: 200px" })
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#date').datepicker({
                dateFormat: 'dd/mm/yy',
                regional: 'fr'
            });
        });
    </script>
}


