﻿@model SocleMvc.Web.Models.FichierDto
@{
//Layout = "~/Views/Shared/_LayoutPopUp.cshtml";
}


@*@using (Ajax.BeginForm("AddEditAgence", "Agence", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "frmAgence", OnSuccess = "CallIndexAgence(data)" }))*@


<form method="post" id="frm-exportxls">
    <div id="frmExport">
        @Html.AntiForgeryToken()
        @*@Html.Partial("_ModalHeader", new ModalHeader { Heading = $" Export " + Model.Type + " Xls" })*@
        
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <div class="modal-body form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(model => model.Type)
                @Html.HiddenFor(model => model.IdDossier)

                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })


                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" id="btn-test" class="btn btn-default" type="button"CancelButtonText></button>
            <button class="btn btn-success" id="SubmitButtonId" type="submit">SubmitButtonText</button>
        </div>
    </div>
</form>


<script>
    $("#btn-submit").click(e => {
        e.preventDefault();
        //debugger;
        let dataToSend = getFormValues();
        //console.log('DataToSend : ', dataToSend);
        if (!dataToSend) return;
        $.ajax({
            type: "POST",
            url: '@Url.Action("ExportXls", "Home")',
            data: dataToSend,
            beforeSend: function () {
                // $("#loading-overlay").show();
            },
            success: function (data) {
                if (data && data.indexOf("frm-exportxls") === -1) {
                    window.location.reload(true);
                } else {
                    $("#frmExport").empty().append(data);
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    });

    function getFormValues() {
        let result = {};
        $('#frm-exportxls input, #frm-exportxls select, #frm-exportxls textarea').each(function(index) {
            let input = $(this);
            let name = input.attr('name');
            let value = input.val();
            result[name] = value;
        });

        return result;
    }
</script>








