﻿@model Socle.Data.Dto.Personne.PersonneDto

@{
    ViewBag.Title = "Import Excel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("UploadOfFile", "Imports", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="bot-btn-container">
        <h3 class="page-title" style="border-bottom: solid 0.5px #AAA; padding-bottom: 15px;">
            <span class="glyphicon  glyphicon-cloud-download"></span>&nbsp;
            Import du fichier csv
        </h3>

        <fieldset>
            <input type="file" name="fileUpload" id="filecsv" onchange="" style="display:inline;" />
            <input type="submit" value="Importer" class="btn btn-danger" />
        </fieldset>
    </div>
}
