﻿@using Socle.Data.Enums;
@model Socle.Data.Dto.Result.ResultImportDto
@{
    ViewBag.Title = "Import données antérieures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-form">
    @{
        if (Model.Operation == OperationFlags.SUCCESS)
        {
            if (!Model.ImportWithError)
            {
                <div class="row text-message">
                    <div class="col-xs-12">
                        <h4>Import Cadence/Produit/Ligne réalisé avec succès.</h4>
                    </div>
                </div>
            }
            else
            {
                <div class="row text-message">
                    <div class="col-xs-12">
                        <h4>Import Cadence/Produit/Ligne réalisé. @Model.ValidRow / @Model.TotalRow ligne(s) traitée(s).</h4>
                    </div>
                </div>
            }
        }
        else if (Model.Operation == OperationFlags.ERROR)
        {
            <div class="row text-message">
                <div class="col-xs-12">
                    <h4>Erreur import.</h4>
                </div>
            </div>
        }
        else
        {
            <div class="row text-message">
                <div class="col-xs-12">
                    <h4>Aucune ligne traitée pendant l'import Cadence/Produit/Ligne.</h4>
                </div>
            </div>
        }
        if (Model.ImportWithError)
        {
            if (Model.ResultDoublons.Count > 0)
            {
                <label>
                    <h4>Les lignes suivantes n'ont pas pu être importées à cause des doublons du [code produit/lignes] :</h4>
                </label>

                var grid = new WebGrid(Model.ResultDoublons, canPage: false, canSort: false);
                @grid.GetHtml(
                    htmlAttributes: new { id = "dblTable" }, 
                    tableStyle: "table",
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    selectedRowStyle: "select",
                    columns: grid.Columns(
                        grid.Column("NumeroLigne", "N° ligne"),
                        grid.Column("Ligne", "Ligne"),
                        grid.Column("CodeProduit", "Code produit"),
                        grid.Column("Produit", "Produit"),
                        grid.Column("Cadence", "Cadence"))
                    )
            }
            if (Model.ResultErreurFormats.Count > 0)
            {
                <label>
                    <h4>Les lignes suivantes n'ont pas pu être importées à cause des erreurs de formats :</h4>
                </label>

                var grid = new WebGrid(Model.ResultErreurFormats, canPage: false, canSort: false);
                @grid.GetHtml(
                    htmlAttributes: new { id = "erreurTable" }, 
                    tableStyle: "table",
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    selectedRowStyle: "select",
                    columns: grid.Columns(
                        grid.Column("NumeroLigne", "N° ligne"),
                        grid.Column("Ligne", "Ligne"),
                        grid.Column("CodeProduit", "Code produit"),
                        grid.Column("Produit", "Produit"),
                        grid.Column("Cadence", "Cadence"),
                        grid.Column("MessageErreur", "Message d'erreur", style: "message-erreur")))
            }
        }
    }
</div>


<style>
    .message-erreur {
        width: 45%;
    }
</style>